img + em {
  display: inline-block;
  text-align: left;
  background-color: #ddd;
  padding: 0.25em 0.5em;
  font-size: 0.8em;
  vertical-align: text-bottom;
  margin-bottom: 0.25em;
}

a.tag {
  display: inline-block;
  font-size: 14px;
  height: 18px;
  line-height: 18px;
  border-radius: 3px;
  padding: 0 6px;
  color: #fff;
  margin-right: 5px;
  background-color: #42b983;
}